Dockerfile
node_modules/
.DS_Store
.vscode/
.idea/
solc-input-*.json
flattened-*.sol
.env
.env.template
.eslintignore
.eslintrc.js
.gitignore
.prettierrc.json
LICENSE
memo
.github
benchmark
cache
artifacts
deployments
reports
typechain
test
